.card_wrap {
  display: flex;
  flex-direction: column;
  border-top: 2px solid var(--primary-color);
  width: 100%;
  height: 25rem;
  padding: 0 1rem;
}

.numbering {
  margin-left: auto;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  display: -webkit-box;
  word-break: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 6rem;
  margin-bottom: 1rem;
}

.info_wrap {
  margin-top: auto;
}

.author {
  width: max-content;
  font-size: 1.2rem;
  font-weight: 500;
  border: 1px solid var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.sentence {
  word-break: break-word;
  height: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.1rem;
}