@font-face {
	font-family: "Kaushan Script";
	src: url("../../fonts/Kaushan-script.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

.header {
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 3rem;
}
.nav {
	width: 100rem;
	height: max-content;
	display: flex;
	justify-content: space-between;
}

.logo {
	display: flex;
	align-items: center;
	& > span {
		font-family: "Kaushan Script", serif;
		font-style: normal;
		font-size: 2rem;
		font-weight: bold;
		text-align: center;
		padding-right: 1rem;
	}
	&:hover {
		animation: glow 1s ease-in-out infinite alternate;
	}
}

.link_wrap {
	display: flex;
	align-items: center;
	gap: 1rem;
	& > a {
		font-size: 1.4rem;
		font-weight: 600;
		&:hover {
			color: var(--gray-400);
		}
	}
}
.active {
	color: var(--gray-400);
}
.theme_toggle {
	display: flex;
	align-items: center;
}
