.lines {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	width: max-content;
	height: 100%;
}
.line {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: max-content;
	position: relative;
	height: 2.1rem;
}
.caret {
	&:first-of-type::after {
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		display: inline-block;
		width: 0.2rem;
		height: 100%;
		background-color: var(--caret-color);
		animation: blink 1s step-start infinite;
		z-index: 999;
	}
}
@keyframes blink {
	0%, 100% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}
.empty_caret {
	width: 0.1rem;
	height: 100%;
}