.lines {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
}
.line {
	display: flex;
	align-items: center;
	& > span:last-of-type::after {
		content: '';
		display: inline-block;
		width: 0.2rem;
		height: var(--caret-height);
		background-color: var(--primary-color);
		animation: blink 1s step-start infinite;
	}
}
@keyframes blink {
	0%, 100% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}