.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin-top: 25vh;
}

/* TextWriterAnimation */
.title > span {
	font-size: 4rem;
}

/* press to any key to typing */
@keyframes showing {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
.press_btn {
	width: max-content;
	padding-top: 10vh;
	animation: showing 0.8s ease;
	&:hover {
		cursor: pointer;
	}
}
.p {
	border-radius: var(--border-radius);
	background-color: var(--gradient-middle-color);
	border: 1px solid var(--accent-color);
	color: var(--primary-color);
	font-size: 1.2rem;
	font-weight: 600;
	padding: 0.8rem 1rem;
	transition: transform linear 0.2s;
	&:hover {
		transform: translateY(-0.5rem);
		box-shadow: 0 0.4em 0.4em -0.2em var(--accent-color);
	}
}


