.container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: calc(50vh - var(--header-height));
}

/* TextWriterAnimation */
.title > span {
	font-size: 4rem;
}

/* press to any key to typing */
@keyframes showing {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
.press_btn {
	position: absolute;
	bottom: 0;
	width: max-content;
	animation: showing 0.8s ease;
	&:hover {
		cursor: pointer;
	}
}
.p {
	border: 1px solid var(--normal-gray);
	border-radius: var(--border-radius);
	background-color: var(--light-blue);
	font-size: 1.2rem;
	padding: 0.8rem 1rem;
	&:hover {
		background-color: var(--dark-blue);
	}
}


