/* default theme dark */
:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
  "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
  "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  /* color */
  --primary-color: #fff;
  --primary-color-rgb: rgb(255, 255, 255);
  --background-color: #131313;
  --background-color-rgb: rgb(19, 19, 19);
  --gradient-start-color: #131313;
  --gradient-middle-color: #14122c;
  --gradient-end-color: #22102c;
  --gradient-background-color: linear-gradient(to bottom right, var(--gradient-start-color), var(--gradient-middle-color), var(--gradient-end-color));
  --card-gradient-start-color: #131d30;
  --card-gradient-end-color: #15091b;
  --card-gradient-background: linear-gradient(to right, var(--card-gradient-start-color), var(--card-gradient-end-color));
  --accent-color: var(--gradient-middle-color);
  --color-with-accent: #000;
  --chart-color: var(--purple);
  
  /* static color */
  --light-yellow: #fdfda4;
  --red: #ff8a8a;
  --yellow: #e7fe55;
  --purple: #a972cb;
  --mint: #37f3f4;
  --caret-color: #ffffff93;
  --gray: #1d1e21;
  --font-gray: #171717;
  --normal-gray: #333;
  --gray-100: #f0f0f0;
  --gray-200: #d9d9d9;
  --gray-300: #c2c2c2;
  --gray-400: #ababab;
  --gray-500: #949494;
  --gray-600: #7d7d7d;
  --gray-700: #666666;
  --gray-800: #4f4f4f;
  --gray-900: #2b2b2b;
  --modal-background: #181818;
  
  /* shape */
  --border-radius: 12px;
  
  /* size */
  --main-width: 102.4rem;
  --header-height: 4.8rem;
  /* size[px] */
  --playground-width: 850px;
  --playground-height: 400px;
  --caret-height: 18px;
  
  /* font-size */
  --typing-size: 2rem;
  --typing-weight: 300;
}

[data-theme="light"] {
  --primary-color: #000;
  --primary-color-rgb: rgb(0, 0, 0);
  --background-color: #fff;
  --background-color-rgb: rgb(255, 255, 255);
  --gradient-start-color: #c2ffa3;
  --gradient-middle-color: #deffcb;
  --gradient-end-color: #ffffff;
  --accent-color: #06142c;
}

/* smooth theme change */
body, .header, .footer {
  transition: background-color 0.3s, color 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 62.5%;
}

html, body {
  background-color: var(--background-color);
  color: var(--primary-color);
  
  /* block drag */
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

main {
  padding-top: var(--header-height);
  min-width: 100vw;
  min-height: 100vh;
  background-size: 200% 200%;
  background-image: radial-gradient(
    circle,
    var(--gradient-start-color) 0%,
    var(--gradient-middle-color) 40%,
    var(--gradient-start-color) 70%
  );
  animation: AnimateBG 5s ease-in-out infinite;
}
header {
  height: var(--header-height);
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  cursor: pointer;
  background-color: inherit;
  outline: none;
  border: none;
  color: var(--primary-color);
  padding: 0;
}

@keyframes AnimateBG {
  0% {
    background-size: 200% 200%;
  }
  50% {
    background-size: 250% 250%;
  }
  100% {
    background-size: 200% 200%;
  }
}
