.container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  backdrop-filter: blur(2px);
}

.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  width: 15vw;
  height: 100vh;
  background-color: var(--gray-900);
  padding: 1rem;
}

.close {
  height: 10%;
  display: flex;
  justify-content: flex-end;
  & > svg:hover {
    background-color: var(--gray-500);
    border-radius: 8px;
  }
}

.title {
  & > h1 {
    font-size: 1.5rem;
  }
}