.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  align-items: center;
  & > svg {
    margin-right: 1rem;
  }
  & > span {
    font-size: 1.2rem;
  }
}

.body {
  display: flex;
  & > span, & > span > span {
    font-size: 1.3rem;
  }
}

.unit {
  padding-left: 0.2rem;
}