.container {
	width: 100%;
}
.board {
	position: relative;
	display: flex;
	justify-content: flex-start;
}
.target_text, .print {
	position: absolute;
	height: 1.5rem;
	top: 0;
	left: 0;
	font-size: 1.5rem;
	font-weight: 300;
	letter-spacing: 0.15rem;
}
/* input design */
.input {
	height: 1.5rem;
	background-color: transparent;
	border: none;
	outline: none;
	opacity: 0;
}

/* Target Text */
.target_text {
	color: var(--gray-900);
}
/* print Text */
.print {
	color: white;
	& > span:last-child::after {
		content: '';
		display: inline-block;
		width: 0.2rem;
		height: 1.5rem;
		vertical-align: middle;
		background-color: var(--primary-color);
		-webkit-animation: blink 1.3s infinite;
		animation: blink 1.3s infinite;
	}
}

@keyframes blink {
	from, to {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}