.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 7rem;
}

.settings {
	cursor: pointer;
	position: absolute;
	bottom: 3rem;
	left: 3rem;
	& > svg {
		width: 2rem;
		height: 2rem;
		&:hover {
			fill: var(--gray-500);
			animation: rotate 0.4s infinite linear;
		}
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(45deg);
	}
}