.container {
	display: flex;
	justify-content: space-between;
	width: 80rem;
	color: var(--primary-color);
}

.chart {
	width: 30rem;
	height: 10rem;
	& > canvas {
		width: 100%;
		height: 100%;
	}
}

.dashboard {
	width: 30rem;
	height: 10rem;
	border: 0.1rem solid var(--primary-color);
	border-radius: var(--border-radius);
	padding: 1rem;
	display: grid;
}

.data_wrap {
	display: flex;
	align-items: center;
	gap: 1rem;
	& > span { font-size: 1.5rem; }
	& > svg {
		width: 2rem;
		height: 2rem;
	}
}

.time {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
.data {
	font-size: 2rem;
}