.container {
	display: flex;
	justify-content: center;
	width: 80rem;
	border: 1px solid white;
	color: gray;
}


.test {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.wpm {
	font-size: 3rem;
	text-align: center;
}