.container {
  margin: 8rem auto 0;
  padding-bottom: 4rem;
  max-width: 100rem;
  height: 100%;
}

.contents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.select_wrap {
  display: flex;
  justify-self: flex-start;
  gap: 1.5rem;
  margin: 2rem 0;
}
.toggle_lang {
  cursor: pointer;
  font-family: Consolas sans-serif;
  display: flex;
  gap: 0.25rem;
  align-items: center;
}
.lang {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--gray-500);
}
.active {
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: bold;
}

/* text */
.title {
  font-size: 2rem;
  font-weight: 500;
  border-top: 1px solid var(--gray-500);
  border-bottom: 1px solid var(--gray-500);
  padding: 1rem 0;
}