.x_btn {
	position: absolute;
	top: 2rem;
	right: 2rem;
	z-index: 20;
	cursor: pointer;
	width: 2rem;
	height: 2rem;
	fill: var(--primary-color);
	stroke: var(--primary-color);
	&:hover {
		fill: var(--normal-gray);
	}
}