.header {
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 3rem;
	background-color: var(--header-background-color);
}
.logo {
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	&:hover {
		color: red;
	}
}
.link_wrap {
	display: flex;
	align-items: center;
	gap: 1rem;
}
.nav {
	width: 100rem;
	height: max-content;
	display: flex;
	justify-content: space-between;
}
.theme_toggle {
	display: flex;
	align-items: center;
}
