.header {
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 3rem;
	background-color: var(--header-background-color);
}
.nav {
	width: 100rem;
	height: max-content;
	display: flex;
	justify-content: space-between;
}

.logo {
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	&:hover {
		color: var(--accent-color);
	}
}
.link_wrap {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding-bottom: 0.3rem;
	border-bottom: 1px solid transparent;
	& > a {
		text-transform: uppercase;
		letter-spacing: 0.05rem;
		&:hover {
			border-bottom: 1px solid var(--primary-color);
		}
	}
}
.active {
	border-bottom: 1px solid var(--primary-color);
}
.theme_toggle {
	display: flex;
	align-items: center;
}
