.button {
	display: flex;
	align-items: center;
}
.button svg {
	width: 1.3rem;
	height: 1.3rem;
	transition: transform 0.3s ease;
	transform: rotate(0deg);
}

.sun {
	&:hover {
		stroke: var(--light-yellow);
		transform: rotate(60deg);
	}
}

.moon {
	&:hover {
		fill: var(--gradient-start-color);
		transform: scaleX(-1);
	}
}